.h1{
    font-family: "Lucida Console", "Courier New", monospace;
}

.task_icon {
    width: 30px; /* Adjust the width of the image as needed */
    height: 30px; /* Adjust the height of the image as needed */
    margin-right: 10px; /* Adjust the margin between the image and the task text as needed */
    object-fit: contain; /* Maintain the aspect ratio of the image */
}

.container{
    display: flex;
    flex-direction: column ;
    width:300px;
    box-shadow: 3px 3px 10px #00000026;
    justify-content: center;
    align-items: center;
    margin:  auto;
}

.todo {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid 	#ccc;
    border-radius: 5px;
    background-color: 	#ffb6c1;
    display: flex;
    align-items: center;
  }

  .todo_text {
    margin-right: 10px;
    padding: 5px;
    width: 200px;
    border: 1px solid 	#ccc;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .todo_checkbox {
    margin-right: 5px;
  }


.todo:has(.todo_checkbox:checked){
    color:#555555;
    background-color: #eeeeee;
    text-decoration: line-through;
}

.msg {
    display: block;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    
    transition: background-color 0.3s ease;
}

.msg:hover {
    background-color:#fff5ee;
}
.skincare{
    font-family: "Lucida Console", "Courier New", monospace;
}